/*
$breakpoint-xs: 767px;
$breakpoint-sm: 991px;
$breakpoint-ipad: 1024px;
$breakpoint-ipadpro-max: 1366px;
*/
/*.transition(@transition: all, @duration: .3s, @anim: ease, @delay: 0s, @preLoad: false) {
  transition: @transition @duration @anim @delay;
  & when (@preLoad = true) {
    will-change: @transition;
  }
}*/
/*
@breakpoint-extra-small: 576px;
@breakpoint-small: 767px;
@breakpoint-med-small: 991px;
@breakpoint-med: 1024px;
*/
/*vw base on 1366 viewport*/
@font-face {
  font-family: 'lato-bold';
  src: url('../fonts/venturissansadflt-bold.eot');
  src: url('../fonts/venturissansadflt-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/venturissansadflt-bold.woff') format('woff'), url('../fonts/venturissansadflt-bold.ttf') format('truetype'), url('../fonts/venturissansadflt-bold.svg#lato-bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lato-regular';
  src: url('../fonts/venturissansadf-regular.eot');
  src: url('../fonts/venturissansadf-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/venturissansadf-regular.woff') format('woff'), url('../fonts/venturissansadf-regular.ttf') format('truetype'), url('../fonts/venturissansadf-regular.svg#lato-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'lato-light';
  src: url('../fonts/venturissansadflt-regular.eot');
  src: url('../fonts/venturissansadflt-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/venturissansadflt-regular.woff') format('woff'), url('../fonts/venturissansadflt-regular.ttf') format('truetype'), url('../fonts/venturissansadflt-regular.svg#lato-light') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'swanse-regular';
  src: url('../fonts/swanse.eot');
  src: url('../fonts/swanse.eot?#iefix') format('embedded-opentype'), url('../fonts/swanse.woff') format('woff'), url('../fonts/swanse.ttf') format('truetype'), url('../fonts/swanse.svg#swanse-regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icomoon';
  src: url('../fonts/icomoon.eot?9q2amf');
  src: url('../fonts/icomoon.eot?9q2amf#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?9q2amf') format('truetype'), url('../fonts/icomoon.woff?9q2amf') format('woff'), url('../fonts/icomoon.svg?9q2amf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-play:before {
  content: "\e900";
}
html,
body {
  color: #141414;
  font-size: 14px;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
@media only screen and (max-width: 576px) {
  html,
  body {
    font-size: 12px;
  }
}
body {
  font-family: 'swanse-regular', Arial, Helvetica, sans-serif;
}
::-moz-selection {
  color: #3486cf;
  background: #225b8e;
}
::selection {
  color: #3486cf;
  background: #225b8e;
}
strong,
b {
  font-family: 'lato-bold', Arial, Helvetica, sans-serif;
  font-weight: 300;
}
p {
  color: #000000;
  font-size: 14px;
  font-size: 1rem;
  line-height: 1.5;
}
small {
  font-size: 12px;
  font-size: 0.8571428571428571rem;
}
a,
a:hover,
a:focus {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  transition: all 0.3s ease;
  outline: none;
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0;
  font-weight: normal;
}
h1,
.h1 {
  font-size: 55pxpx;
  font-size: 3.9285714285714284pxrem;
}
@media only screen and (max-width: 576px) {
  h1,
  .h1 {
    font-size: 30pxpx;
    font-size: 2.142857142857143pxrem;
  }
}
h2,
.h2 {
  font-size: 48pxpx;
  font-size: 3.4285714285714284pxrem;
}
@media only screen and (max-width: 576px) {
  h2,
  .h2 {
    font-size: 27pxpx;
    font-size: 1.9285714285714286pxrem;
  }
}
h3,
.h3 {
  font-size: 24pxpx;
  font-size: 1.7142857142857142pxrem;
}
@media only screen and (max-width: 576px) {
  h3,
  .h3 {
    font-size: 18pxpx;
    font-size: 1.2857142857142858pxrem;
  }
}
.small {
  font-size: 50%;
  font-weight: 300;
}
.font-fancy {
  font-family: 'lato-bold', Arial, Helvetica, sans-serif;
}
.font-regular {
  font-family: 'swanse-regular', Arial, Helvetica, sans-serif;
}
.font-bold {
  font-family: 'lato-bold', Arial, Helvetica, sans-serif;
}
.font-light {
  font-family: 'lato-regular', Arial, Helvetica, sans-serif;
}
.font-medium {
  font-family: 'lato-regular', Arial, Helvetica, sans-serif;
}
.font-black {
  font-family: 'lato-bold', Arial, Helvetica, sans-serif;
}
.font-lowercase {
  text-transform: lowercase !important;
}
.font-uppercase {
  text-transform: uppercase !important;
}
.font-capitalize {
  text-transform: capitalize !important;
}
.font-transform-none {
  text-transform: none !important;
}
.accent-fgcolor-white {
  color: #FFFFFF;
}
.accent-fgcolor-white p {
  color: #FFFFFF;
}
.accent-fgcolor-black {
  color: #000000;
}
.accent-fgcolor-black p {
  color: #000000;
}
.accent-bgcolor-white {
  background-color: #FFFFFF;
}
.accent-bgcolor-black {
  background-color: #000000;
}
/*.container {
	max-width: 1224px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}*/
.section {
  position: relative;
}
.section__wrapper {
  position: relative;
  width: 100%;
}
.section--with-bg-1 {
  background-image: url("../img/app/bg/banner-bg.jpg");
  background-position: center center;
  background-size: cover;
}
.section--with-bg-dots {
  background-image: url("../img/app/pattern/pattern.png");
  background-position: center center;
  background-size: 28px 28px;
}
.section--with-bg-dots-2 {
  background-image: url("../img/app/pattern/pattern-2.png");
  background-position: center center;
  background-size: 28px 28px;
}
.main__cont {
  position: relative;
  overflow: hidden;
}
.btn {
  display: inline-block;
}
.hidden {
  display: none !important;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.full-link {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
.text--center {
  text-align: center;
}
.text--left {
  text-align: left;
}
.text--right {
  text-align: right;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-none {
  clear: both;
  float: none;
}
.letter-spacing .line-height-1 {
  letter-spacing: 1 px;
}
.letter-spacing .line-height-2 {
  letter-spacing: 2 px;
}
.letter-spacing .line-height-3 {
  letter-spacing: 3 px;
}
.letter-spacing .line-height-4 {
  letter-spacing: 4 px;
}
.letter-spacing .line-height-5 {
  letter-spacing: 5 px;
}
.line-height .line-height-1 {
  line-height: 10 px;
}
.line-height .line-height-2 {
  line-height: 20 px;
}
.line-height .line-height-3 {
  line-height: 30 px;
}
.line-height .line-height-4 {
  line-height: 40 px;
}
.line-height .line-height-5 {
  line-height: 50 px;
}
/* Content flex*/
.is-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.is-flex-col {
  flex-direction: column;
}
.is-flex-left {
  align-items: flex-start;
}
.is-flex-right {
  align-items: flex-end;
}
.is-flex-center {
  align-items: center;
  justify-content: center;
}
.is-flex-top {
  justify-content: flex-start;
}
.is-flex-bottom {
  justify-content: flex-end;
}
.is-flex-space-between {
  justify-content: space-between;
}
/*cinema api*/
.blk-search {
  text-align: center;
}
.blk-mediagrid {
  background: #EEE;
  max-width: 100%;
}
.blk-mediagrid:after {
  content: '';
  display: block;
  clear: both;
}
.blk-mediagrid__sizer,
.blk-mediagrid__item {
  width: 25%;
}
.blk-mediagrid__item {
  height: 140px;
  float: left;
  border-color: hsla(0, 0%, 0%, 0.5);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.blk-mediagrid__item--width2 {
  width: 50%;
  height: 280px;
}
.blk-mediagrid__content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 100%;
  color: #ffffff;
  padding: 10px;
  overflow: hidden;
}
.blk-mediagrid__content > span {
  width: 100%;
  display: block;
  overflow: hidden;
}
.blk-mediagrid h3,
.blk-mediagrid h4,
.blk-mediagrid h5,
.blk-mediagrid p {
  color: #ffffff;
  text-shadow: 1px 1px 0 #000;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blk-mediagrid img {
  margin-right: 10px;
}
@media only screen and (max-width: 768px) {
  .blk-mediagrid__item {
    width: 50%;
  }
  .blk-mediagrid__item--width2 {
    width: 100%;
  }
}
@media only screen and (max-width: 576px) {
  .blk-mediagrid__item {
    width: 50%;
  }
  .blk-mediagrid__item--width2 {
    width: 100%;
  }
}
.blk-header__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #081c24;
  width: 100%;
  z-index: 999;
}
.blk-header__wrapper.sticky .blk-nav {
  height: 80px;
  height: 5.856515373352855vw;
}
.blk-header__wrapper.sticky .blk-searchbar input {
  height: 40px;
  height: 2.9282576866764276vw;
}
.maincont {
  padding-top: 156px;
  padding-top: 11.420204978038068vw;
  box-sizing: border-box;
  width: 100%;
  min-height: 100%;
}
.widelink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.blk-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 110px;
  height: 8.052708638360176vw;
}
.blk-nav .logo {
  margin-right: 25px;
}
.blk-searchbar__wrapper {
  background: #ffffff;
}
.blk-searchbar input {
  width: 100%;
  height: 46px;
  height: 3.3674963396778916vw;
  border: 0;
  border-radius: 0;
  padding: 0 30px;
  box-sizing: border-box;
  will-change: height;
}
.blk-searchbar input[type="submit"] {
  display: none;
}
.blk-featlist {
  padding: 0;
  width: 100%;
}
.blk-featlist li {
  display: flex;
  position: relative;
}
.blk-featlist img {
  display: block;
  margin-right: 15px;
}
.blk-featlist h3,
.blk-featlist h4,
.blk-featlist p {
  padding: 0;
}
.blk-featlist h3 {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px 0;
}
.blk-header {
  width: 100%;
}
.blk-header li {
  display: inline-block;
}
.blk-text {
  max-width: 960px;
  margin: 0 auto;
}
.blk-text__wrapper {
  padding: 70px 0;
}
.blk-text--align-center {
  text-align: center;
}
.blk-text__title {
  margin-bottom: 68px;
}
.blk-text h1 {
  font-size: 30px;
  font-size: 2.142857142857143rem;
  color: #ff9b00;
  font-family: 'lato-bold', Arial, Helvetica, sans-serif;
}
.blk-text h2 {
  display: inline-block;
  color: #add8ff;
  font-family: 'lato-bold', Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-size: 1.7142857142857142rem;
  border-bottom: 2px solid #add8ff;
}
.blk-text p {
  color: #FFFFFF;
  font-size: 18px;
  font-size: 1.2857142857142858rem;
  margin: 0 0 27px 0;
  display: block;
  line-height: 21px;
  line-height: 1.5rem;
}
.blk-text p:last-child {
  margin-bottom: 0;
}
@media only screen and (max-width: 576px) {
  .blk-text h2 {
    border-bottom: 0;
    text-decoration: underline;
  }
}
.blk-title {
  text-align: center;
}
.blk-title__wrapper {
  padding: 30px 0 40px 0;
}
.blk-title h1 {
  font-size: 30px;
  font-size: 2.142857142857143rem;
  line-height: 30px;
  line-height: 2.142857142857143rem;
  color: #ff9b00;
  font-family: 'lato-bold', Arial, Helvetica, sans-serif;
  margin-bottom: 22px;
}
.blk-title h2 {
  display: inline-block;
  color: #FFFFFF;
  font-family: 'lato-bold', Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-size: 1.7142857142857142rem;
  line-height: 24px;
  line-height: 1.7142857142857142rem;
}
.blk-video {
  position: relative;
}
.blk-video__thumbnail {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  z-index: 2;
  background-size: cover;
  background-position: center center;
}
.blk-video__play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.blk-video__play [class^="icon-"],
.blk-video__play [class*=" icon-"] {
  color: #FFFFFF;
  font-size: 84px;
}
.blk-featperson {
  color: #ececec;
  z-index: 2;
  position: relative;
}
.blk-featperson a,
.blk-featperson p {
  color: #ececec;
}
.blk-featperson__wrapper {
  background: #0e0d12;
  overflow: hidden;
  position: relative;
}
.blk-featperson__wrapper:after {
  content: "";
  display: block;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
  bottom: 0;
  background: #0e0d12;
  background: linear-gradient(180deg, rgba(14, 13, 18, 0) 0%, #0e0d12 90%);
}
.blk-featperson__image {
  position: absolute;
  z-index: 1;
  top: 0;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -520px;
}
.blk-featperson__image img {
  margin: 0 auto;
  display: block;
  top: -490px;
  position: relative;
  height: 2260px;
  opacity: 1;
}
.blk-featperson__title {
  height: 100vh;
}
.blk-featperson__title span {
  display: block;
}
.blk-featperson__title span:last-child {
  margin-top: 40px;
}
.blk-featperson__title .author {
  color: #4f3a37;
  font-size: 30px;
  font-size: 2.142857142857143rem;
  line-height: 25px;
  line-height: 1.7857142857142858rem;
  font-family: 'lato-bold', Arial, Helvetica, sans-serif;
}
.blk-featperson__title .title {
  font-size: 75px;
  font-size: 5.357142857142857rem;
  line-height: 65px;
  line-height: 4.642857142857143rem;
  font-family: 'lato-bold', Arial, Helvetica, sans-serif;
}
.blk-featperson__title h1 {
  top: 50%;
  left: 50%;
  position: relative;
  transform: translate(-50%, -50%);
}
.blk-featperson__title h1:after {
  border-bottom: 2px solid #ececec;
  content: "";
  position: relative;
  display: block;
  width: 100%;
  max-width: 335px;
  margin-top: 50px;
}
.blk-featperson__seperator {
  margin-top: -60px;
  text-align: center;
}
.blk-featperson__seperator a {
  display: block;
  margin-bottom: 30px;
  font-size: 12px;
  font-size: 0.8571428571428571rem;
}
.blk-featperson__seperator .seperator {
  border-bottom: 1px solid #ececec;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 125%;
  opacity: 0.5;
}
.blk-featperson__seperator [class^="icon-"],
.blk-featperson__seperator [class*=" icon-"] {
  display: block;
  margin-top: 5px;
  transform: rotate(90deg);
}
.blk-featperson__text {
  padding: 75px 0 160px 0;
}
.blk-featperson__text > div {
  max-width: 550px;
  margin: 0 auto;
}
.blk-featperson__text p {
  font-size: 18px;
  font-size: 1.2857142857142858rem;
  line-height: 26px;
  line-height: 1.8571428571428572rem;
  margin-bottom: 30px;
}
.blk-featperson__text p:last-child {
  margin-bottom: 0;
}
.blk-featperson__text .letter {
  font-size: 60px;
  font-size: 4.285714285714286rem;
  line-height: 60px;
  line-height: 4.285714285714286rem;
  margin: 0 28px 16px 0;
  float: left;
  font-family: 'lato-bold', Arial, Helvetica, sans-serif;
}
.blk-featperson__text .letter:after {
  content: "";
  display: block;
  background: #ececec;
  width: 100%;
  height: 1px;
  opacity: 0.5;
}
.blk-featpost {
  padding: 25px 0;
  color: #ececec;
  z-index: 2;
  position: relative;
}
.blk-featpost a,
.blk-featpost p {
  color: #ececec;
}
.blk-featpost__wrapper {
  background: #0e0d12;
  overflow: hidden;
  position: relative;
}
.blk-featpost__cover {
  text-align: center;
  padding: 20px 0;
}
.blk-featpost__cover h2 {
  font-family: 'lato-bold', Arial, Helvetica, sans-serif;
}
.blk-featpost__cover h2 .small {
  font-size: 50px;
  font-size: 3.5714285714285716rem;
  line-height: 50px;
  line-height: 3.5714285714285716rem;
}
.blk-featpost__cover h2 .title {
  font-size: 75px;
  font-size: 5.357142857142857rem;
  line-height: 70px;
  line-height: 5rem;
}
.blk-featpost__seperator .seperator {
  background: #ececec;
  height: 1px;
  width: 100%;
}
